@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "Persons";
}
<div class="flex">
        <div class="flex-1">
            <span class="text-grey" style="color: gray;
	--darkreader-inline-color: #827c72;">Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey" style="color: gray;
	--darkreader-inline-color: #827c72;">Persons</span>
        </div>
        <div class="flex-1">
            <a href="~/persons/create" class="button">Create Person</a> <br />
            <a href="~/persons/PersonPDF" class="button">Download as PDF</a> <br />
            <a href="~/persons/PersonCSV" class="button">Download as Person CSV</a> <br />
            <a href="~/persons/PersonsExcel" class="button">Download as Person Excel</a> <br />
        </div>
    </div>
<form action="~/persons/index" method="get">
    
    

    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Persons</h1>
            </div>
            <div class="flex-3">
                <label>Search By:</label>
                <select name="serachBy" class="search-dropdown">
                    @foreach (var item in ViewBag.SerachFields)
                    {
                        if (item.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }

                    }
                </select>
                <input type="search" id="Search" name="searchString" value="@ViewBag.CurrentSearchString" />
                 <button>Search</button>
                <a href="~/persons/index">Clear all</a>
            </div>
        </div>
    </div>

    <div>
    </div>
    <div>
       
    </div>
    <div>
    </div>


    <table class="persons">
        <thead>
            <tr>

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.PersonName)},
                {"DisplayName", "Person Name"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Email)},
                {"DisplayName", "Email"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.DateOfBirth)},
                {"DisplayName", "DateOfBirth"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Age)},
                {"DisplayName", "Age"},

                })


                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Geneder)},
                {"DisplayName", "Geneder"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.CountryName)},
                {"DisplayName", "CountryName"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.Address)},
                {"DisplayName", "Address"},

                })

                @await Html.PartialAsync("_GridColumnHeader",new ViewDataDictionary(ViewData){
                {"ColumnName", nameof(PersonResponse.ReceivedNewsLetter)},
                {"DisplayName", "ReceivedNewsLetter"},

                })





                @*  <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Age</th>
                    <th>Geneder</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Receive News Letters</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td>@person.Age</td>
                    <td>@person.Geneder</td>
                    <td>@person.CountryName</td>
                    <td>@person.Address</td>
                    <td>@person.ReceivedNewsLetter</td>
                    <td>
                        @* asp-route-personID using this parameter send the personid for method  *@
                        <a asp-controller="Persons" asp-action="Edit" asp-route-personID="@person.PersonID">Edit</a>
                        <a asp-controller="Persons" asp-action="Delete" asp-route-personID="@person.PersonID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</form>